/Ejercicio01/nbproject/private/
/Ejercicio02/nbproject/private/
/Ejercicio03/nbproject/private/
/Ejercicio04/nbproject/private/
/Ejercicio01/build/
/Ejercicio02/build/
/Ejercicio03/build/
/JavaApplication60/nbproject/private/
/Ejercicio04/build/
/Ejercicio05/nbproject/private/
/Ejercicip06/nbproject/private/
/Ejercicip06/build/
/Ejercicio05/build/
